<app-navbar></app-navbar>

<div class="wide">
  <div class="col-sm-5 line"><hr></div>
  <div class="col-sm-2 logo">Logo</div>
  <div class="col-sm-5 line"><hr></div>
</div>

<div class="container">
  <router-outlet name="public"></router-outlet>
</div>


