

<div id="top-shopping-cart">
  <p> Aqui estan la cesta de la compra <p>

    <ul *ngFor="let product of shoppingCart.products">
      <li>{{product.name}}</li>
    </ul>

    <div class="row text-center p-3">
      <button class="col-sm-12 btn delete-button" (click)="addProduct()"> Añadir a la cesta </button>
    </div>
</div>
    

